{% extends 'base.html.twig' %}

{% block title %}
{{beer.name}} - Digital Beer Wall
{% endblock %}

{% block body %}

<div class="container p-2">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid" id="beer_img" name="beer_img" src={{ path('app_show_beer_image', {'id' : beer.id}) }}>
      </div>
      <div class="col-md-8">

        <div class="card-body">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Name:</td>
                <td>{{ beer.name }}</td>
              </tr>

              <tr>
                <td>Country:</td>
                <td>{{ country_names[beer.country] }}</td>
              </tr>

              <tr>
                <td>Signature:</td>
                <td>
                  {% if beer.issignature %}
                  <i class="bi bi-check-lg"></i>
                  {% else %}
                  <i class="bi bi-x-lg"></i>
                  {% endif %}
                </td>
              </tr>

              <tr>
                <td>ABV:</td>
                <td>{{beer.abv}}%</td>
              </tr>

              <tr>
                <td>Added by:</td>
                <td><a href="{{ path('app_show_user', {'id' : beer.user.id}) }}">{{beer.user.username}}</a></td>
              </tr>

              <tr>
                <td>Date Added:</td>
                <td>{{ beer.dateadded.format("d M Y") }}</td>
              </tr>

              {% if beer.datemodified %}
              <tr>
                <td>Last Modified:</td>
                <td>{{ beer.datemodified.format("d M Y") }}</td>
              </tr>
              {% endif %}

              {% if beer.modifiedby %}
              <tr>
                <td>Last Modified by:</td>
                <td>{{ beer.modifiedby.username }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      {% if is_granted("ROLE_ADMIN") or app.user == beer.user %}
      <div class="card-footer">
        <a href="{{ path('app_edit_beer', {'id' : beer.id}) }}" data-original-title="Edit this beer"
          data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil-square"></i>
          Edit
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}