{% extends 'base.html.twig' %}

{% block title %}
Edit User - Digital Beer Wall
{% endblock %}

{% block body %}

<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img class="img-fluid" alt="Profile Picture" src="{{ asset('images/default_profile.jpg')}}">
        </div>

        <div class="col">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Username:</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <td>Last Login:</td>
                <td>
                  {% if user.lastlogin %}
                  {{user.lastlogin.format('d M Y')}}
                  {% else %}
                  NA
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer">
      {{ form_start(form) }}
      {% if form.contributor is defined %}
      {{ form_widget(form.contributor) }}
      {% endif %}
      {% if form.admin is defined %}
      {{ form_widget(form.admin) }}
      {% endif %}
      {% if form.lock is defined %}
      {{ form_widget(form.lock) }}
      {% endif %}
      {% if form.delete is defined %}
      {{ form_widget(form.delete) }}
      {% endif %}
      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}